/* GOOGLE SANS FONT */
@font-face {
    font-family: F16;
    src: url("./Fonts/ProductSans-Regular.ttf") format('truetype');
}

*{
  cursor: none;
  z-index: 1;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}s

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: rgba(0, 0, 0, 0.3) 15px 15px 35px 15px, rgba(77, 77, 77, 0.4) -8px -8px 20px 0px;
}

/* TEXT KEYFRAMES */
@keyframes animatedText {
  from {
    background-position: 0%
  }

  to {
    background-position: 100%
  }
}

/* SHADOW ANIMATION */
@keyframes animatedShadow {
  0% {
    box-shadow: rgba(0, 0, 0, .4) 15px 15px 35px 15px, rgba(77, 77, 77, 0.7) -7px -7px 30px 0px;
  }

  25% {
    box-shadow: rgba(0, 0, 0, .4) -7px 15px 35px 15px, rgba(77, 77, 77, 0.7) 10px -0px 30px 0px;
  }

  50% {
    box-shadow: rgba(0, 0, 0, .4) -7px -7px 35px 15px, rgba(77, 77, 77, 0.7) 10px 10px 30px 0px;
  }

  75% {
    box-shadow: rgba(0, 0, 0, .4) 15px -7px 35px 15px, rgba(77, 77, 77, 0.7) -7px 10px 30px 0px;
  }

  100% {
    box-shadow: rgba(0, 0, 0, .4) 15px 15px 35px 15px, rgba(77, 77, 77, 0.7) -7px -7px 30px 0px;
  } 
}

/* CUSTOM CURSOR */
.cursor {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  transform: translate(-45%, -55%);
  background-color: #cccccc;
  pointer-events: none;

  transition-duration: 150ms;
  transition-timing-function: ease-out;
  transform-origin: 100% 100%;
}

.grow {
  transform-origin: 25% 25%;
  transform: scale(4);
  filter: blur(12px);
}

/* LIGHT */



/* LITERALLY EVERYTHING ELSE */
body {
  background-color: rgb(30, 30, 30);
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

h1 {
  font-family: 'googleSans', sans-serif;
  font-size: 50px;
  background-image: linear-gradient(to right, #4CB8C4, #94adff, #e98fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200%;
  background-position: -200%;
  animation: animatedText 0.5s infinite alternate-reverse;
}

h2 {
  font-family: "googleSans", "Roboto", sans-serif;
  font-size: 40px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: light;
  font-size: 18px;
}

.placeholder {
  color: #fff;
  background-color: rgb(35, 35, 35);
  position: relative;
  text-align: center;
  border-radius: 50px;
  z-index: 0;
  animation: animatedShadow 15s infinite linear;
  transition: transform .2s ease-in-out; 
}

.placeholder:hover {
  transform: scale(1.05);
}


a{
  color: rgb(203, 221, 255)
}
a:hover{
  color: rgb(255, 153, 153)
}


/* NAVBAR */

.navbar-nav {
  background-color: rgba(30, 30, 30);
  margin-left: auto;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 15px 15px 35px 15px, rgba(77, 77, 77, 0.5) -8px -8px 20px 0px;
}


/* TITLE */
.title {
  width: 550px;
  height: 200px;
  margin: 200px auto;
  padding-top: 45px;
}

.what-I-can-do {
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  padding: 17px 20px;
  text-decoration: none;
}

.what-I-can-do:hover {
  background-color: white;
}

.material-icons-outlined {
  font-size: 20px;
}


/* SKILLS */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: auto;
  margin: auto;
  justify-content: center;
}

.skills {
  width: 500px;
  height: auto;
  text-align: left;
  padding: 30px 30px;
  margin: 50px;
}

.binary-icon {
  width: 50%;
  padding-bottom: 20px;
  float: left;
  margin-right: 30px;
}

.colorwheel-icon {
  width: 50%;
  padding-bottom: 20px;
  float: right;
  margin-left: 30px;
}

.youtube-icon {
  width: 50%;
  padding-bottom: 20px;
  float: left;
  margin-right: 30px;
}

.blog-icon {
  width: 50%;
  padding-bottom: 20px;
  float: right;
  margin-left: 30px;
}

/* CONTACT */
.email {
  font-family: "googleSans", "Roboto", sans-serif;
  font-size: 40px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin: 100px auto 20px auto;
}
.email:hover {
  background-color: white;
}


.email-text {
  background-image: linear-gradient(to right, #4CB8C4, #94adff, #e98fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200%;
  background-position: -200%;
  animation: animatedText 0.5s infinite alternate-reverse;
}


.footer-icons {
  font-size: 65px;
  color: rgb(255, 255, 255);
  background-color: #1E1E1E;
  margin: 50px 10px auto;
  padding-top: 0px;
  padding-bottom: 25px;
}

.footer-icons:hover {
  color: rgb(89, 120, 177);
   background-image: linear-gradient(to left, #4CB8C4, #94adff, #e98fff,#e98fff );
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   background-size: 200%;
   background-position: -200%;
   animation: animatedText 0.5s infinite alternate-reverse;
   cursor: none;
}

/* MOBILE COMPATIBILITY */
@media only screen and (max-device-width:620px) {
  .cursor {
    display: none;
  }

  .placeholder {
    border-radius: 80px;
  }

  body {
    font-size: 40px;
  }

  h1 {
    font-size: 150px;
  }

  h2 {
    font-size: 100px;
  }

  h3 {
    font-size: 50px;
    line-height: 1.5;
  }

  .title {
    width: 70%;
    height: 200%;
    padding: 50px;
    margin-bottom: 400px;
  }

  .material-icons-outlined {
    font-size: 50px;
  }

  .flex-container {
    width: 70%;
    text-align: center;
  }

  .skills {
    width: 100%;
    text-align: center;
    margin: 100px auto;
  }

  .binary-icon {
    padding-bottom: 70px;
    float: none;
    width: 70%;
  }

  .colorwheel-icon {
    padding-bottom: 70px;
    float: none;
    width: 70%;
  }

  .youtube-icon {
    padding-bottom: 70px;
    float: none;
    width: 70%;
  }

  .blog-icon {
    padding-bottom: 70px;
    float: none;
    width: 70%;
  }

  .skill-p {
    text-align:  center;
    font-size: 45px;
  }

  .email {
    font-size: 100px;
  }

  .footer-icons {
    padding-top: 20px;
  }
}
