@keyframes animatedText {
    from {
      background-position: 0%
    }
  
    to {
      background-position: 100%
    }
  }

/*  */
/*  */
/*  */

.header {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* min-height: 180px; */
    min-height: 20%;
    padding-top: 15px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.1em;
    padding-top: 10px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 20px;
}