
.header {
    /* position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    margin: 37.5vh auto;
    min-width: 250px;
    width: 40%;
    max-width: 500px;
    /* min-height: 180px; */
    /* height: 15vh; */
    padding-top: 15px;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

h3 {
    font-size: 1.1em;
    margin: 2px auto;
    padding-top: 10px;
    text-align: center;
    letter-spacing: 1px;
    /* padding-bottom: 20px; */
}