.heres-what {
    margin:0;
    padding: 0;
    position: absolute;
    top: 80%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-secondary);
}

.down-arrow {
    width: 30px;
    padding: 10px;
    margin: auto;
    border-radius: 35px;
}

.down-arrow a {
    color: var(--color-primary);
}
