.slide2 {
    border-radius: 30px;
    background-color: var(--background-color-secondary);
    margin: 0 auto 20px;
    padding: 20px 30px;
    width: 80%;
    /* min-width: 50%; */
    max-width: 1000px;
}