
#landing-page {
    background-color: #ffffff00;
    height: 100vh;
}

.welcome-div {
    width: 45%; 
    max-width: 600px;
    margin: 0 auto; /* Center the container horizontally */
    position: relative; /* Required for absolute positioning */
    top: 50%;
    transform: translateY(-50%);
    transition: transform 200ms ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.75em;

    
    background-color: var(--bg-secn);
    color: --var(--acc-prim);
    border-radius: 20px;

    box-shadow: 0 0 20px 20px #00000018;
}

.welcome-div h1 {
    margin: 0px auto 5px;
}

.welcome-div p {
    margin: 5px auto 0px
}

.welcome-div:hover {
    transform: scale(1.01) translateY(-50%);
}

.welcome-div:active{
    animation: say-hi 500ms ease forwards;
}

@keyframes say-hi {
    0%{
        transform: translateY(-50%) skewX(0deg);
    }
    33% {
        transform: translateY(-50%) skewX(-10deg);
    }
    66% {
        transform: translateY(-50%) skewX(10deg);
    }
    100% {
        transform: translateY(-50%) skewX(0deg) scale(1.01);
    }
}

.hi-hand {
    transition: transform 200ms linear;
    animation: hand-waves 1000ms forwards;
    // animation-fill-mode: both;
}

@keyframes hand-waves {
    20% {
        transform: rotate(-30deg) translateX(-0.2em);
    }
    60% {
        transform: rotate(30deg) translateX(0.2em);
    }

}