
#landing-page {
    background-color: #ffffff00;
    height: 100vh;
}

.welcome-div {
    width: 45%; 
    max-width: 600px;
    margin: 0 auto; 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.75em;
    
    
    background-color: var(--bg-secn);
    color: var(--acc-prim);
    border-radius: 20px;
    transition: 
        transform 200ms ease, scale 200ms ease, 
        box-shadow 600ms ease;
}

.welcome-div h1 {
    margin: 0px auto 5px;
}

.welcome-div p {
    margin: 5px auto 0px
}

.welcome-div:hover {
    animation-iteration-count: 2;
    [data-theme="light"] & {
        animation: 
            say-hi 750ms ease-out; 
        box-shadow: 0 0 20px 5px var(--shadow);
    };    
    [data-theme="dark"] & {
        animation: 
            say-hi 750ms ease-out, 
            continuous-glow 1000ms ease-in-out;
        box-shadow: 0 0 60px 5px var(--shadow);
    };     
}

@keyframes say-hi {
    0%{
        transform: translateY(-50%) skewX(0deg);
    }
    33% {
        transform: translateY(-50%) skewX(-10deg);
    }
    66% {
        transform: translateY(-50%) skewX(10deg);
    }
    100% {
        transform: translateY(-50%) skewX(0deg);
    }
}

@keyframes continuous-glow {
    0% {
        box-shadow: 0 0 10px 0px var(--shadow);
    }
    30% {
        box-shadow: 0 0 60px 4px var(--shadow);
    }
    50% {
        box-shadow: 0 0 50px 3px var(--shadow);
        box-shadow: 0 0 10px 0px var(--shadow);
    }
    75% {
        box-shadow: 0 0 20px 1px var(--shadow);
    }
    90% {
    }
    100% {
        box-shadow: 0 0 60px 5px var(--shadow);
    }
}

.hi-hand {
    transition: transform 200ms ease;
    animation: hand-waves 1.5s forwards 1;
    // animation-fill-mode: both;
}


@keyframes hand-waves {
    0% {
        transform: 
            rotate(0deg) 
            translate(0.05em, 0.01em)
            // scale(0.8);
    }
    20% {
        transform: 
            rotate(-40deg) 
            translateX(-0.2em)
        }
    40% {
        transform: 
            rotate(0deg) 
            translateX(0.2em)
        // scale(1.1)
    }
    60% {
        transform: 
            rotate(-40deg) 
            translateX(-0.2em)
    }
    80% {
        transform: 
            rotate(0deg) 
            translateX(0.2em)
}
    100% {
        transform: 
            rotate(-40deg) 
    }
}