#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    min-height: 90vh;
    max-height: 100vh;
    margin-top: 1%;
    padding: 4rem 2rem; /* Add some padding to move content away from the edge */
    background-color: #ffffff00;
    text-align: left; /* Center text */
}

.welcome-div {
    width: 70vw;
    max-width: 100vw;
    color: var(--acc-prim);
    border-radius: 1.5rem;
    transition: transform 200ms ease, scale 200ms ease, box-shadow 600ms ease;
    text-align: left;
    margin: auto 25rem auto auto; /* Adjust the left margin */
}

.welcome-div h1 {
    line-height: 1.2;
    color: var(--acc-prim);
}

.strikethrough {
    text-decoration: line-through;
    margin: auto 1.5rem;
    color: var(--acc-prim);
    opacity: 0.2;
}

.highlight {
    color: var(--highlight-color);
}


.welcome-div p {
    margin: 5px auto 0;
}

.chip {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1em;
    text-align: center;
    opacity: 0.9;
    justify-content: center;
    background-color: var(--bg-secn);
    margin: 1em 0 0;
    // background-size: 100% 100%;
    // transition: background-position 0.5s, transform 0.5s ease;
    // background-image: linear-gradient(to bottom, var(--acc-prim), var(--acc-prim) 50%, var(--bg-secn) 50%, var(--bg-secn));
    // background-position: 0 -100%;

    // &:hover {
    //     background-position: 0 0;
    //     color: var(--bg-prim);
    //     transform: scale(1.1);
    // }
}

.fa-location-dot {
    margin-right: 5px;
}

@media (max-width: 700px) {
    #landing-page {
        margin-top: 5%;;
        padding: 4rem 2rem;
    }
    .welcome-div h1 {
        font-size: 2.5rem;
    }
}

@keyframes say-hi {
    0%{
        transform: translateY(-50%) skewX(0deg);
    }
    33% {
        transform: translateY(-50%) skewX(-10deg);
    }
    66% {
        transform: translateY(-50%) skewX(10deg);
    }
    100% {
        transform: translateY(-50%) skewX(0deg);
    }
}

@keyframes continuous-glow {
    0% {
        box-shadow: 0 0 10px 0px var(--shadow);
    }
    30% {
        box-shadow: 0 0 60px 4px var(--shadow);
    }
    50% {
        box-shadow: 0 0 50px 3px var(--shadow);
        box-shadow: 0 0 10px 0px var(--shadow);
    }
    75% {
        box-shadow: 0 0 20px 1px var(--shadow);
    }
    90% {
    }
    100% {
        box-shadow: 0 0 60px 5px var(--shadow);
    }
}

.hi-hand {
    transition: transform 200ms ease;
    animation: hand-waves 1.5s forwards 1;
    // animation-fill-mode: both;
}


@keyframes hand-waves {
    0% {
        transform: 
            rotate(0deg) 
            translate(0.05em, 0.01em)
            // scale(0.8);
    }
    20% {
        transform: 
            rotate(-40deg) 
            translateX(-0.2em)
        }
    40% {
        transform: 
            rotate(0deg) 
            translateX(0.2em)
        // scale(1.1)
    }
    60% {
        transform: 
            rotate(-40deg) 
            translateX(-0.2em)
    }
    80% {
        transform: 
            rotate(0deg) 
            translateX(0.2em)
}
    100% {
        transform: 
            rotate(-40deg) 
    }
}