@media only screen and (max-width: 700px) {
    .trailer {
        visibility: hidden;
    }

    body {
        overflow: auto;
    }

    h1 {
        font-size: 2.5rem;
        text-align: left;
    }

    .body {
        font-size: 0.9em;
    }

    .welcome-div {
        width: 90%;
        height: 50%;
        border-radius: 2rem;
    }
    
    .privacy-policy {
        width: 90%;
        height: 50%;
        border-radius: 1em;
        text-align: justify;
    }

    #contact {
        height: 75%;
        display: flex;
        flex-direction: column;
    }

    .contact-method .media-info {
        position: inherit;
        opacity: 1;

        left: 0;
        transform: translate(0%, 100%);
        font-size: 1rem;
        color: var(--acc-prim);
        top: 0;
    

        visibility: visible;
    }
}