#projects {
    align-items: center;
    padding-top: 6vh;
    height: 100vh;  
}

#projects h1 {
    height: 5vh
}

.project-list-container {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    transform: scale(0.95);
}

.project-list {
    /* height: 85vh; */
    list-style-type: none;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: column;

    overflow-x: auto;
    /* overflow-y: hidden; */
    /* overscroll-behavior-inline: contain; */
}

.snaps-inline {
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
}
