 .project {
    width: 30vh;
    margin: 10px 1rem;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--bg-secn);
    text-align: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 200ms ease, transform 200ms ease;
}

.project:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.project:active {
    transform: scale(0.95);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.project img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.project .content {
    align-items: center;
    padding: 10px;
}
