#projects {
    background-color: var(--bg-prim);
    text-align: center;
    padding-top: 6vh;
   height: 100vh;
}

#projects h1 {
    height: 9vh
}

.project-list {
    height: 85vh;
    display: flex;
    list-style: none;
    overflow-x: scroll;
}

