#projects {
    background-color: var(--bg-prim);
    text-align: center;
    padding-top: 6vh;
    height: 100vh;  
}

#projects h1 {
    height: 9vh
}

.project-list {
    /* height: 85vh; */
    list-style-type: none;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: column;

    overflow-x: scroll;
    overscroll-behavior-inline: contain;
}

.snaps-inline {
    scroll-snap-type: inline mandsatory;
}
