
.trailer {
  min-height: 20px;
  min-width: 20px;
  background-color: var(--trailer);
  border-radius: 20rem;
  
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  
  pointer-events: none;
  opacity: 0.95;
  transition: opacity 500ms ease, transform 200ms ease;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.5em;
}

.App:hover > .trailer {
    opacity: 0.95;
  }

