
.trailer {
  min-height: 20px;
  min-width: 20px;
  padding: 0.5%;
  background-color: var(--trailer);
  border-radius: 20rem;
  
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease, transform 200ms ease;
  
  display: grid;
  place-items: center;

  font-size: 0.5em;
}

.App:hover > .trailer {
    opacity: 1;
  }