.privacy-policy {
    background-color: var(--bg-secn);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45%;
    max-width: 600px;
    padding: 2em 4em;
    margin: 10vh auto;
}

