/* MANROPE */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700;800&display=swap'); 
/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* NUNITO */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --background-color-primary: #2d2d2d;
    --background-color-secondary: rgb(61, 61, 61);
    --color-primary: white;
    --color-secondary: rgb(211, 211, 211);
    --accent-color: rgb(144, 255, 238);
}

.cursor {
   /* transform: scale(2); */
 }


/*  
---
---
---
---
*/

body {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  font-family: 'Nunito';
  letter-spacing: 0.7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: none;

  margin: 0;
  padding: 0;
;}

.neu-out {
  border-radius: 35px;
  box-shadow: -10px -10px 30px 2px rgba(221, 221, 221, 0.097), 15px 15px 20px 10px rgba(0, 0, 0, 0.36); 
  transition: 0.2s ease-in-out;
}

.neu-out:hover {
  border-radius: 35px;
  transition: 0.2s ease-in-out;
  box-shadow: -10px -10px 30px 2px rgba(221, 221, 221, 0.129), 15px 15px 20px 10px rgba(0, 0, 0, 0.573); 
  transform: scale(1.01)
}

.neu-in {
  border-radius: 35px;
  transition: 0.2s ease-in-out;
  box-shadow: -10px -10px 30px 2px rgba(221, 221, 221, 0), 15px 15px 20px 10px rgba(0, 0, 0, 0), -10px -10px 20px 2px rgba(221, 221, 221, 0.108) inset, 15px 15px 20px 10px rgba(0, 0, 0, 0.266) inset; 
}


.neu-in:hover {
  transform: scale(1.05);
  box-shadow: -10px -10px 30px 2px rgba(221, 221, 221, 0.185), 15px 15px 20px 10px rgba(0, 0, 0, 0.322), -10px -10px 20px 2px rgba(221, 221, 221, 0) inset, 15px 15px 20px 10px rgba(0, 0, 0, 0) inset; 
}

span {
  animation-duration: 0.5s;
  animation-timing-function: bounce ;
  animation-iteration-count: 1;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: inline-block;
}

@keyframes animateh1 {
  50% {
    transform: scale(1.25, 0.75);
    color: white;
    text-shadow:0 0 10px rgba(255, 255, 255, 0.438),
                0 0 20px rgba(255, 255, 255, 0.438), 
                0 0 40px rgba(255, 255, 255, 0.438);  
  }  
  100% {
      transform: scale(1,1);
      color: var(--color-primary);
      text-shadow: none;
  }
}

.h1-animate {
  animation-name: animateh1;
}

.RGB {
  color: var(--accent-color);
  /* background: -webkit-linear-gradient(rgb(255, 38, 38), rgb(147, 2, 244));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.grow {
  transition: 0.2s ease-out;
  transform: scale(1.2);
}