/* MANROPE */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700;800&display=swap'); 
/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* NUNITO */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


body {
  background-color: rgb(45, 45, 45);
  color: white;
  font-family: 'Nunito';
  letter-spacing: 0.7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
;}
