/* MANROPE */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700;800&display=swap'); 
/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* NUNITO */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


body {
  background-color: rgb(76, 0, 255);
  color: white;
  font-family: 'Nunito';
  letter-spacing: 0.7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  margin: 0;
  padding: 0;
;}

.neumorphic {
  border-radius: 35px;
  box-shadow: -10px -10px 20px 2px rgba(221, 221, 221, 0.097), 15px 15px 10px 10px rgba(0, 0, 0, 0.36); 
}

.rainbow {
  background-image: linear-gradient(to right, #29ff8d, rgb(38, 254, 240), #9c66ff, #e738e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200%;
  background-position: -200%;
  animation: animatedText 2s infinite alternate-reverse;
}